.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
  }
  
  .header {
    flex-shrink: 0;
  }
  
  .content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .left-content {
    width: 250px;
    overflow-y: auto;
  }
  
  .right-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  