.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-shrink: 0;
  background-color: #47663B;
  color: white;
  
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-content {
 
  width: 250px;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.right-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.left-content nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.left-content nav ul li {
  margin: 25px  0px;
  background-color: #47663B;
  border-radius: 5px;
  padding: 10px;
}

.left-content nav ul li a {
  text-decoration: none;
  color: #E8ECD7;
  
  font-size: 18px;
  
}

.left-content nav ul li:hover {
  transition: 0.2s ease;
  background-color: #1F4529;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .left-content {
    width: 100%;
    height: auto;
  }

  .right-content {  
    height: calc(100vh - 60px - 200px); /* Adjust based on your header and sidebar heights */
  }
}

