.sidebar {
    background-color: #f0f0f0;
    height: 100%;
  }
  
  .menu {
    padding: 20px;
  }
  
  .menu-item {
    margin-bottom: 10px;
  }
  
  .menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu-item a:hover {
    background-color: #e0e0e0;
  }
  
  .menu-item.active a {
    background-color: #47663B;
    color: #E8ECD7;
  }
  
  